.paper {
  max-width: 70rem;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, .1);
	background-color: #fff;
  padding: 3rem 3rem 2rem 3rem;
  position: absolute;
  top: 18rem;
  left: 50%;
  transform: translateX(-50%);
}